/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Poppins:wght@400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap');

body {
    font-family: 'Montserrat' !important;
}

h1 {
    color: #FFF;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

p {
    color: #8F8F8F;
}

/* Title Section */

#title {
    background-color: #ff4c68;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

#title .navbar {
    padding: 0;
    padding-bottom: 4.5rem;
}

#title .navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: 500;
}

#title .navbar-nav {
    font-size: 1.2rem;
    font-weight: 400;
    gap: 18px;
    margin: 0;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.title-img {
    max-width: 60%;
    position: absolute;
    right: 25%;
    transform: rotate(25deg);
}

/* Features Section */

#features {
    background-color: #FFF;
    text-align: center;
    padding: 8% 15%;
    position: relative;
}

#features .features-icon {
    color: #EF8172;
    font-size: 5rem;
}

#features .features-icon:hover {
    color: #ff4c68;
}

/* Testimonials section  */
#testimonials {
    color: #FFF;
    background-color: #EF8172;
    text-align: center;
}

.testimonial-img {
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}

.carousel-item {
    padding: 8% 15%;
}

#press {
    background-color: #EF8172;
    padding-bottom: 3%;
    text-align: center;
}

.press-logo {
    margin: 20px 20px 50px;
    width: 15%;
}

/* Pricing Section */
#pricing {
    text-align: center;
    padding: 8% 15%;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .title-img {
        position: static;
        transform: rotate(0);
    }
}