/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Poppins:wght@400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap');

body {
    font-family: 'Montserrat' !important;
}

/* Title Section */

#title {
    background-color: #ff4c68;
}

#title h1 {
    color: #FFF;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

#title .container-fluid {
    padding: 3% 15%;
}

#title .navbar {
    padding: 0;
    padding-bottom: 4.5rem;
}

#title .navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: 500;
}

#title .navbar-nav {
    font-size: 1.2rem;
    font-weight: 400;
    gap: 18px;
    margin: 0;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.title-img {
    max-width: 200px;
    transform: rotate(25deg);
}

/* Features Section */

#features {
    text-align: center;
}

#features .container {
    padding: 8% 10%;
}

#features h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

#features p {
    color: #8F8F8F;
}

#features .features-icon {
    color: #EF8172;
    font-size: 5rem;
}

#features .features-icon:hover {
    color: #ff4c68;
}